# Postgres Database

POSTGRES_USER=usuario
POSTGRES_PASSWORD=senha
POSTGRES_DB=books_db

# =========================
# SQLAlchemy / FastAPI
# =========================
DATABASE_URL=postgresql+psycopg://usuario:senha@db:5432/books_db